body {
    background: #f5e9e2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

.header__title {
    color: #0b0014;
    font-size: 40px;
    font-style: normal;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #d44d5c;
}

.grid {
    width: 710px;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 2px solid #d44d5c;
}

.grid__table {
    color: #0b0014;
    width: 100%;
    padding: 10px;
    border-spacing: 4px;
}

.grid__thead {
    font-size: 22px;
    color: #773344;
    border-bottom: 1px solid #773344;
    padding: 0 5px 8px 5px;
    text-align: center;
}

.grid__row {
    font-size: 18px;
    vertical-align: middle;
    padding: 30px;
}

.grid__row--even {
    background: #e3b5a4;
}

.grid__cell {
    text-align: center;
    padding: 6px 0;
}

.cell__name {
    font-weight: bold;
    width: 10%;
}

.cell__price,
.cell__marketCap {
    width: 17%;
}

.cell__change {
    width: 10%;
}

.cell__companyName {
    width: 28%;
}

.cell__changePercent {
    width: 20%;
}

.cell--inc {
    -webkit-animation: inc 0.75s ease-in-out;
    -moz-animation: inc 0.75s ease-in-out;
    -o-animation: inc 0.75s ease-in-out;
    animation: inc 0.75s ease-in-out;
}

.cell--dec {
    -webkit-animation: dec 0.75s ease-in-out;
    -moz-animation: dec 0.75s ease-in-out;
    -o-animation: dec 0.75s ease-in-out;
    animation: dec 0.75s ease-in-out;
}

@-webkit-keyframes inc {
    0% {
        background-color: none;
    }
    50% {
        background-color: #a2ad91;
        color: #f5e9e2;
    }
    100% {
        background-color: none;
    }
}
@-moz-keyframes inc {
    0% {
        background-color: none;
    }
    50% {
        background-color: #a2ad91;
        color: #f5e9e2;
    }
    100% {
        background-color: none;
    }
}
@-o-keyframes inc {
    0% {
        background-color: none;
    }
    50% {
        background-color: #a2ad91;
        color: #f5e9e2;
    }
    100% {
        background-color: none;
    }
}
@keyframes inc {
    0% {
        background-color: none;
    }
    50% {
        background-color: #a2ad91;
        color: #f5e9e2;
    }
    100% {
        background-color: none;
    }
}

@-webkit-keyframes dec {
    0% {
        background-color: none;
    }
    50% {
        background-color: #d44d5c;
        color: #f5e9e2;
    }
    100% {
        background-color: none;
    }
}
@-moz-keyframes dec {
    0% {
        background-color: none;
    }
    50% {
        background-color: #d44d5c;
        color: #f5e9e2;
    }
    100% {
        background-color: none;
    }
}
@-o-keyframes dec {
    0% {
        background-color: none;
    }
    50% {
        background-color: #d44d5c;
        color: #f5e9e2;
    }
    100% {
        background-color: none;
    }
}
@keyframes dec {
    0% {
        background-color: none;
    }
    50% {
        background-color: #d44d5c;
        color: #f5e9e2;
    }
    100% {
        background-color: none;
    }
}
